* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    background-color: #fff7bd;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
    
}

#calc {
    width: 400px;
    padding: .5em;
    background-color: #95cfb7;
    color: black;
    flex-direction: column;
    border-radius: 4px;
}

#calc h3 {
    font-size: 1.5em;
    color: #fff;
    font-weight: 700;
}

#operations {
    text-align: right;
}

#previous-operation {
    color: rgb(255, 255, 255);
    padding: 0.2em;
    overflow-wrap: break-word; /*abraça o conteúdo e não deixa "vazar" da área*/
    min-height: 1.6em;
}

#current-operation {
    min-height: 1.6em;
    font-size: 2em;
    font-weight: 700;
    padding: .2em;
    overflow-wrap: break-word;
    
}

#buttons-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /*transforma o grid em 4 frações de coluna*/
    gap: 3px;
}

#buttons-container button {
    border: 1px solid transparent;
    border-radius: 1px;
    height: 4em;
    font-size: 1.2em;
    background-color: bisque;
    cursor: pointer;
}

#buttons-container .number {
    background-color: azure;

}

#buttons-container button:hover {
    background-color: #fad3b2;
    border-color: #ffba7f;
}

#buttons-container #equal-btn {
    grid-column: span 2;
    background-color: bisque;
}

#buttons-container #equal-btn:hover {
    background-color: #bfcff7;
}